<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:0">
                <h5 class="modal-title h6" id="exampleModalLabel">Сообщение об ошибке <span
                        style="color:grey; font-size:10px;" id="reportnum">(asdsd)</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea rows="7" class="form-control" id="message-text"></textarea>
                </form>
            </div>
            <div class="modal-footer" style="border:0">
                <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
                <button type="button" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>
