<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>База МСК РФ</title>
    <meta name="description" content="Местные системы координат Российской Федерации">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ANAT01">

    <link rel="canonical" href="https://anat01.github.io/mskcs/">

    <link rel="manifest" href="site.webmanifest">
    <link rel="icon" href="assets/favicon.ico">

    {% if DEBUG %}
        <link rel="stylesheet" href="../html/css/bootstrap.min.css">
        <link rel="stylesheet" href="../html/css/custom.css">
        <script src="../html/js/jquery-3.4.1.min.js"></script>
        <script src="../html/js/bootstrap.min.js"></script>
    {% else %}
        <script>
        {% include '../js/jquery-3.4.1.min.js' %}
        {% include '../js/bootstrap.min.js' %}
        </script>
        <style>
        {% include '../css/bootstrap.min.css' %}
        {% include '../custom.css' %}
        </style>
    {% endif %}
</head>
<body>
<!--[if IE]>
<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a
        href="https://browsehappy.com/">обновите ваш браузер</a> для улучшения работы и повышения безопасности.</p>
<![endif]-->
<nav class="navbar fixed-bottom navbar-light bg-light text-muted" style="font-size:12px !important">
    <div class="text-left">
        Версия: <i>{{ VERSION }}</i>
    </div>
    <div class="text-right">
        <a href="#" data-toggle="modal" data-target="#exampleModal">Сообщить об ошибке</a>
    </div>
</nav>

<div class="container text-center" style="max-width: 960px;">
    <h1 class="h3 mb-3 font-weight-normal">База местных систем координат</h1>
    <div class="input-group mb-3" style="margin-bottom:1px !important">
        <input type="text" class="form-control" placeholder="Введите кадастровый номер"
               aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Найти</button>
        </div>
    </div>
    <div class="text-left " style="margin-bottom:15px;" id="samples">
        <small>Например:
            <a href="#" class="badge badge-secondary">72:24:0101001</a>
            <a href="#" class="badge badge-secondary">72:16:0101001</a>
            <a href="#" class="badge badge-secondary">24:01</a>
            <a href="#" class="badge badge-secondary">24:02:0301008</a>
            <a href="#" class="badge badge-secondary">24:03:1701003</a>
        </small>
    </div>
    <div class="alert alert-warning" role="alert" id="alert" style="display:none">
        A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>

    {% include 'result-table.html' %}

    <div class="alert alert-info" id="baseinfo" style="display:none">
        <!--"В базе есть кадастровые округа: " + Object.keys(CADASTRE).join(', ')-->
    </div>
</div>

{% include 'feedback.html' %}
{# include 'google-analytics.html' #}

{% if DEBUG %}
<script src="../tmp/data.js"></script>
<script src="../html/js/app.js"></script>
{% else %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
      {% include '../../tmp/data.js' %}
      {% include '../js/app.js' %}
    });
</script>
{% endif %}
</body>
</html>